{% extends 'website/base.html' %}

{%block title%}  Gallery | SundeckEnergy{%endblock%}
{%block gallery_active%} active {%endblock%}
{%block body%}
{%load staticfiles%}
<!-- gallery -->

<div class="gallery" id="gallery">
  <h3>Our Gallery</h3>
  <span>See Our Best Projects</span>
  <div class="w3agile_gallery_grids">
    <div class="col-md-3 w3agile_gallery_grid">
      <div class="w3agile_gallery_image">
        <a class="sb" href="{% static 'website/images/g1.jpg' %}" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur">
          <figure>
            <img src="{% static 'website/images/g1.jpg' %}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-3 w3agile_gallery_grid">
      <div class="w3agile_gallery_image">
        <a class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur"
         href="{% static 'website/images/g2.jpg' %}">
          <figure>
            <img src="{% static 'website/images/g2.jpg'%}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-3 w3agile_gallery_grid">
      <div class="w3agile_gallery_image">
        <a class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur"
         href="{% static 'website/images/g3.jpg' %}">
          <figure>
            <img src="{% static 'website/images/g3.jpg' %}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-3 w3agile_gallery_grid w3-agileits">
      <div class="w3agile_gallery_image">
        <a class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur"
         href="{% static 'website/images/g8.jpg' %}">
          <figure>
            <img src="{% static 'website/images/g8.jpg' %}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-3 w3agile_gallery_grid w3-agileits">
      <div class="w3agile_gallery_image">
        <a class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur"
         href="{% static 'website/images/g4.jpg' %}">
          <figure>
            <img src="{% static 'website/images/g4.jpg' %}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-3 w3agile_gallery_grid w3-agileits">
      <div class="w3agile_gallery_image">
        <a class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur"
         href="{% static 'website/images/g7.jpg' %}">
          <figure>
            <img src="{% static 'website/images/g7.jpg' %}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-3 w3agile_gallery_grid">
      <div class="w3agile_gallery_image">
        <a class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur"
         href="{% static 'website/images/g6.jpg' %}">
          <figure>
            <img src="{% static 'website/images/g6.jpg' %}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-3 w3agile_gallery_grid">
      <div class="w3agile_gallery_image">
        <a class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum"
         href="{% static 'website/images/g5.jpg' %}">
          <figure>
            <img src="{% static 'website/images/g5.jpg' %}" alt="" class="img-responsive" />
            <figcaption>
              <h4>Solar Power</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>

</div>
<!-- //gallery -->

{%endblock%}
